.oldmain {
  max-width: 700px; 
  max-height: 700px; 
  padding: 50px;
}

.homepagetext {
  color:black; 
  padding: 100px;
}

.productimage {
  max-width: 700px; 
  max-height: 700px; 
  padding: 50px;
}

.homepageFooter {
  background-color: #0C5449;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.navbar {
  background-color: #FFCC33;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.img-fluid {
  max-width: 500px;
  max-height: 500px;
  display: block; /* Ensures the image is treated as a block-level element */
  margin-bottom: 30px;
}

/* Add a border to the image */
.img-fluid {
  border: 1px solid black;
}

.producthomepage {
  text-align: center;
  /* Add any other styles you want for this class */
}